<% layout('layout/boilderplateabout') %>
<h1 class="text-center">Something interesting about Frank Li</h1>
<div class="text-center fancyanime">
    <svg width="100%" height="100%" viewBox="0 0 850 323" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="showOff">
            <rect width="850" height="323" fill="url(#paint0_linear)" fill-opacity="0.95" />
            <ellipse id="Sun" cx="789.5" cy="44.5" rx="36.5" ry="32.5" fill="#E1E431" />
            <path id="Cloud"
                d="M122.597 45.9318C125.154 45.3213 127.827 45.3935 130.347 46.1411L168.819 57.5538C173.34 58.8949 176.967 62.284 178.612 66.7038L184.819 83.3868C188.053 92.0801 182.702 101.596 173.593 103.347L140.403 109.73C139.47 109.91 138.521 110 137.571 110H91.9414C89.3576 110 86.8177 109.333 84.5677 108.063L63.7591 96.3162C57.0745 92.5428 54.3173 84.3317 57.3698 77.2887L62.0169 66.5667C63.8948 62.2339 67.7033 59.0385 72.2963 57.9418L122.597 45.9318Z"
                fill="#F3FAFD" />
            <path id="Cloud2"
                d="M520.597 6.93182C523.154 6.32134 525.827 6.39351 528.347 7.14111L566.819 18.5538C571.34 19.8949 574.967 23.284 576.612 27.7038L582.819 44.3868C586.053 53.0801 580.702 62.5958 571.593 64.3475L538.403 70.7301C537.47 70.9096 536.521 71 535.571 71H489.941C487.358 71 484.818 70.3326 482.568 69.0625L461.759 57.3162C455.074 53.5428 452.317 45.3317 455.37 38.2887L460.017 27.5667C461.895 23.2339 465.703 20.0385 470.296 18.9418L520.597 6.93182Z"
                fill="#F3FAFD" />
            <rect id="Pole" x="367.686" y="32.0833" width="2.10714" height="77.9167" fill="#C4C4C4" />
            <ellipse id="Ellipse 1" cx="368.739" cy="27.7546" rx="2.73929" ry="2.75463" fill="#C4C4C4" />
            <g id="Flag">
                <g id="Shield">
                    <path id="Rectangle 6" d="M373.164 30.9028H425V63.9583H373.164V30.9028Z" fill="#C56A5E" />
                    <path id="Star 1"
                        d="M398.335 34.838H408.756L408.756 42.4516V50.0652L404.776 54.7706L398.335 57.2685L391.895 54.7706L387.914 50.0652V42.4516V34.838H398.335Z"
                        fill="#1B1818" />
                </g>
                <path id="hospitaller" fill-rule="evenodd" clip-rule="evenodd"
                    d="M400.316 51.1662L397.905 45.6072L400.049 39.9537L397.765 41.3787L395.415 40.0498L397.825 45.6089L395.681 51.2623L397.966 49.8373L400.316 51.1662ZM404.136 43.4115L398.078 45.702L404.239 47.7391L402.713 45.6059L404.136 43.4115ZM391.389 48.0056L397.446 45.7151L391.286 43.678L392.812 45.8112L391.389 48.0056Z"
                    fill="#E4ECCD" fill-opacity="0.95" />
            </g>
            <g id="windmill">
                <path id="Polygon 8" d="M80.7477 209H114.243L128 283H64L80.7477 209Z" fill="#64A96F" />
                <rect id="Rectangle 7" x="83" y="182" width="30" height="21" fill="#4EADB4" />
                <path id="blades" fill-rule="evenodd" clip-rule="evenodd"
                    d="M91.2075 145.735L97.7985 193.711L97.7553 193.956L97.4947 193.988L97.7428 194.027L89.3964 241.434L104.389 241.688L97.8441 194.043L147.955 201.935L148.223 187.755L97.8309 193.947L97.7985 193.711L106.201 145.988L91.2075 145.735ZM97.4947 193.988L46.766 200.222L47.0344 186.042L97.4947 193.988Z"
                    fill="#76725B" />
            </g>
            <g id="castle">
                <rect id="Rectangle 8" x="334" y="151" width="75" height="138" fill="#462E36" />
                <path id="Polygon 13" d="M370.5 90L406.44 143.25H334.56L370.5 90Z" fill="#F19F71" />
                <rect id="Rectangle 9" x="264" y="212" width="57" height="77" fill="#ACBC7D" />
                <rect id="Rectangle 10" x="425" y="212" width="49" height="77" fill="#ACBC7D" />
                <path id="Polygon 14" d="M292.5 161L317.182 198.5H267.818L292.5 161Z" fill="#12A343" />
                <path id="Polygon 15" d="M450.5 161L475.182 198.5H425.818L450.5 161Z" fill="#12A343" />
            </g>
            <g id="signature">
                <path id="Vector1"
                    d="M542.043 178.555C550.538 178.604 556.559 177.602 562.604 171.381C569.433 164.355 575.444 156.496 581.47 148.787C585.55 143.569 589.713 138.299 593.163 132.632C595.078 129.486 591.962 142.145 591.948 142.206C585.028 174.108 573.174 204.636 566.784 236.736C565.144 244.973 563.513 253.262 562.209 261.561C561.162 268.219 565.709 252.532 565.937 251.761"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector2"
                    d="M585.763 158.728C595.908 155.556 606.048 152.616 615.588 147.883C618.196 146.589 620.064 145.745 622.874 145.511"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector3" d="M574.579 201.432C589.56 196.438 604.555 190.475 618.299 182.622" stroke="black"
                    stroke-width="3" stroke-linecap="round" />
                <path id="Vector4"
                    d="M603.556 198.89C603.528 211.461 605.769 226.896 600.986 239.051C598.217 246.09 599.685 233.976 600.562 231.878C608.206 213.607 621.547 203.304 639.651 197.873"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector5"
                    d="M655.919 210.074C646.898 208.99 641.726 210.334 636.375 218.152C633.014 223.06 628.426 230.758 628.269 236.961C628.126 242.598 632.841 238.548 634.51 236.51C639.746 230.117 644.159 223.074 649.479 216.739C659.536 204.768 659.49 217.062 657.19 225.664C657.108 225.969 655.253 231.753 655.636 230.24C656.972 224.97 659.123 220.029 661.85 215.327C662.608 214.019 667.986 203.741 671.226 206.798C674.104 209.513 672.561 217.594 672.158 220.948C671.905 223.062 670.091 228.891 671.509 227.302C675.214 223.148 677.014 217.047 680.292 212.503C690.692 198.085 692.403 215.724 690.234 224.873C688.622 231.67 685.713 234.855 686.11 225.241C687.004 203.635 692.669 178.164 702.802 158.898C703.961 156.695 708.901 146.922 712.687 151.046C717.822 156.64 714.773 170.48 714.156 176.973C711.759 202.182 708.106 229.228 698.34 252.778C697.695 254.331 693.764 262.674 693.764 255.969C693.764 246.877 696.782 237.008 699.752 228.545C703.351 218.287 713.723 190.138 729.802 193.354C743.407 196.075 724.809 217.377 721.442 220.976C713.443 229.529 707.407 237.722 714.043 249.501C715.975 252.931 718.562 256.207 721.612 258.709C724.025 260.688 725.12 257.628 726.583 255.828"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector6"
                    d="M758.102 200.415C767.217 190.545 774.825 179.717 781.007 167.766C783.657 162.643 787.479 148.032 793.688 145.963C805.04 142.179 797.202 181.051 796.23 184.768C790.104 208.182 779.733 230.974 765.417 250.575C756.56 262.7 760.227 246.169 762.169 240.577C765.253 231.693 772.187 218.834 782.843 227.359C790.827 233.747 795.299 243.713 802.5 250.913C805.516 253.93 805.197 236.923 805.38 234.476"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector7"
                    d="M804.364 228.376C805.224 227.394 816.13 214.358 816.339 221.936C816.544 229.38 811.736 237.099 813.627 244.531C814.355 247.388 817.661 246.481 819.53 245.35C822.879 243.323 823.286 239.468 824.19 236.001"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
                <path id="Vector8" d="M820.632 195.331C819.173 198.765 817.655 202.14 816.056 205.499" stroke="black"
                    stroke-width="3" stroke-linecap="round" />
            </g>
        </g>
        <defs>
            <linearGradient id="paint0_linear" x1="861" y1="-12" x2="-4.00001" y2="319" gradientUnits="userSpaceOnUse">
                <stop stop-color="#52E2C8" stop-opacity="0.8" />
                <stop offset="1" stop-color="#5683F5" stop-opacity="0" />
            </linearGradient>
        </defs>
    </svg>
</div>
<div class='container-fluid'>
    <div class='row jumbotron'>
        <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10'>
            <p class='lead'>Hello, my name is Frank Li. I am currently studying Electrical Engineering in UC San Diego.
            In this page, you will be able to know something about me(hopefully). You can also ask Franky(my chatbot on the bottom right corner), have fun!</p>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2'>
            <a href="#education"><button type='button' class='btn btn-outline-secondary btn-lg'>Education</button></a>
        </div>
    </div>
</div>

<!-- skills -->
<div class='container-fluid padding' id=skills>
    <div class='row welcome text-center'>
        <div class='col-12'>
            <h1 class='display-4'>My Skills</h1>
        </div>
        <hr>
        <div class='col-12'>
            <p class='lead'>As an engineering student, I believe it's important to learn as many math and sciences as possible because
                they are fundamental building blocks to design a great product. With that principle in mind, I have basic knowledge in circuit
                analysis, software programming and other scientific knowledge.
            </p>
        </div>
    </div>
</div>

<!-- visual skillset -->
<div class='container-fluid padding'>
    <div class='row text-center padding'>
        <div class='col-xs-12 col-sm-6 col-md-4'>
            <i class="fab fa-js-square"></i>
            <h3>Javascript</h3>
            <p>I used JS a lot for building Web Applications</p>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-4'>
            <i class="fab fa-java"></i>
            <h3>Java</h3>
            <p>I learned Java from school</p>
        </div>
        <div class='col-sm-12 col-md-4'>
            <i class="fab fa-python"></i>
            <h3>Python</h3>
            <p>Python was the first language I learned</p>
        </div>
    </div>
    <hr class='my-4'>
</div>

<!-- background -->
<div class='container-fluid padding' id=education>
    <div class='row padding'>
        <div class='col-md-12 col-lg-6'>
            <h2>My Background</h2>
            <p>I was recently graduated from Diamond Bar High School and as for now, I am learning Electrical
            Engineering at UC San Diego. I can speak both Chinese, English, and a little bit of French. From my youth,
            I always want to know how a machine works and why it works, and it is until later that I found out engineering
            is the field to answer the question!</p>
            <p>The website you are seeing now is the second version of the one I made previously. You may found out the first one in my project page.</p>
            <p>I hope that in the near future, I am able to add more and more to this site and let people enjoy visiting my web.<p>
            <p class='text-muted'>Great castles are built upon a solid foundation.</p>
            <a href="/project" class='btn btn-primary'>See my projects</a>
        </div>
        <div class='col-lg-6'>
            <img src="https://images.unsplash.com/photo-1524397057410-1e775ed476f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" class='img-fluid'>
        </div>
    </div>
</div>

<hr class='my-4'>
    <!-- Fixed Background Section -->
    <figure>
        <div class='fixed-wrap'>
            <div id='fixed'>
            </div>
        </div>
    </figure>

    <hr class='my-4'>
    <!-- mis section maybe talk about hobbies? -->
    <div class='container-fluid padding'>
        <div class='row padding'>
            <div class='col-md-12 col-lg-6'>
                <h2>Do you like Jazz?</h2>
                <p>While my main focus is on engineering, I like to play saxophone as a way to relax. I have been playing
                saxophone for about nine years now, and it is in my sophomore year in high school that I developed a keen
                interest in Jazz, and since then, I grew found of Jazz.</p>
                <p>To me, Jazz is a way to communicate with people freely. There is very few limitations, and I am able to express my creativity openly.</p>
                <br>
            </div>
            <div class='col-lg-6'>
                <img src="https://images.unsplash.com/photo-1572506634451-4df8fc2f1d3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" width="90%" height="90%" class='rounded img-fluid'>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</footer>