<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home of Frank</title>
    <link rel="shortcut icon" type="image/png" href="/pictures/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Frank's Majestic Web</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/about">About Me</a>
                    <a class="nav-link" href="/blogs">Blogs</a>
                    <a class="nav-link" href="/project">My Projects</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>I present to thee: Frank's Majestic Web!</h1>
            <p class="lead">One small website for Frank, One big step towards greatness!<br>
                Feel free to explore and share your thoughts</p>
            <a href="/blogs" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">
                See My Blogs</a>
            <a href="/about" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">
                About Me</a>
            <div id="jokecard" class="card-body">
                <h5>Care for a laugh?</h5>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2021</p>
        </footer>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/joke.js"></script>
</body>

</html>